.container {
   display: flex;
   height: 100vh;
}

.videoCardContainer {
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 35%;
   margin-left: auto;
   overflow-y: scroll;
}
